.footer {
    background-color: var(--color-contrast);
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer .logo {
    margin-right: 0px;
  }
  
  .footer-list {
    display: flex;
    align-items: baseline;
  }
  
  .adress-div {
    margin-right: 70px;
  }
  
  .logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-wite);
    text-decoration: none;
    letter-spacing: 0.03em;
  }
  
  .logo-web {
    color: var(--color-accent);
  }
  
  .footer-adress {
    color: var(--color-wite);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .list-footer {
    margin-top: 20px;
  }
  
  .link-footer {
    color: var(--color-link-footer);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-footer:hover,
  :focus {
    color: var(--color-accent);
  }
  
  .list-footer .footer-li + .footer-li {
    margin-top: 9px;
  }
  
  .title-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-wite);
    margin-bottom: 20px;
  }
  
  .list-social-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon-footer:not(:last-child) {
    margin-right: 10px;
  }
  
  .social-footer {
    max-width: 100%;
    height: auto;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-footer:hover {
    background-color: var(--color-accent);
   
  }
  
  .social-footer:focus {
    background-color:var(--color-accent);
    
  }
  
  .social-svg-footer {
    width: 44px;
    height: 44px;
    fill: var(--color-wite);
    background-color: var(--color-icon-footer);
    border-radius: 50%;
    color:currentColor;
  }
  /* form-footer */
  
  .form-footer {
    margin-left: 92px;
  }
  
  .form-title-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-wite);
  }
  
  .fofrm-footer-label {
    width: 358px;
    height: 50px;
    background-color: var(--color-contrast);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-family: Roboto;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-wite);
    padding: 15px 16px;
  }
  
  .button-footer {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 10px 28px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-wite);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .send-footer {
    width: 24px;
    height: 24px;
    fill: var(--color-wite);
  }
  
  .button-footer:hover,
  .button-footer:focus {
    background-color: var(--color-text);
  }

  /* 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

  .footer {
    background-color: var(--color-contrast);
    text-decoration: none;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer .logo {
    margin-right: 0px;
  }
  
  .footer-list {
    align-items: baseline;
    
    @media screen and (min-width: 768px)
 {display: flex;
  align-items: baseline;
  }
}
  .adress-div {
    @media screen and (max-width: 768px)
    { margin-bottom: 60px; 
      text-align: center;
    }
    @media screen and (max-width: 768px)
    {
    margin-right: 165px;
    margin-bottom: 0;}
    
    @media screen and (min-width: 768px)
 { margin-right: 70px;
  
  }
  @media screen and (min-width: 320px)
  { margin-right: 70px;
   
} }
  .logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-wite);
    text-decoration: none;
    letter-spacing: 0.03em;
  }
  
  .logoweb {
    color: var(--color-accent);
  }
  
  .footer-adress {
    color: var(--color-wite);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  
  .list-footer {
    margin-top: 20px;
  }
  
  .link-footer {
    color: var(--color-link-footer);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .link-footer:hover,
  :focus {
    color: var(--color-accent);
  }
  
  .list-footer .footer-li + .footer-li {
    margin-top: 9px;
  }
  
  .title-footer {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-wite);
    margin-bottom: 20px;

    @media screen and (min-width: 768px)
 { font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-wite);
  margin-bottom: 20px;
  }
}
  .list-social-footer {
    justify-content: center;
    display: flex;
    align-items: center;
   margin-bottom: 60px;
    
    @media screen and (min-width: 768px)
 { display: flex;
  align-items: center;
  justify-content: center;
  
  }
}
  .social-icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon-footer:not(:last-child) {
    margin-right: 10px;
  }
  
  .social-footer {
    max-width: 100%;
    height: auto;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-footer:hover {
    background-color: var(--color-accent);
   
  }
  
  .social-footer:focus {
    background-color:var(--color-accent);
    
  }
  
  .social-svg-footer {
    width: 44px;
    height: 44px;
    fill: var(--color-wite);
    background-color: var(--color-icon-footer);
    border-radius: 50%;
    color:currentColor;
  }
  /* form-footer */
  
  .form-footer {
    margin-left: 94px;

    @media screen and (max-width: 768px)
    { margin-left: 0;
 
    }
  }
  .form-title-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-wite);
    
    font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--color-wite);
  }

  
  .fofrm-footer-label {
    width: 100%;
    height: 50px;
    background-color: var(--color-contrast);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-family: Roboto;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-wite);
    padding: 15px 16px;
    margin-bottom: 20px;
    
    @media screen and (min-width: 768px)
 {   width: 358px;
  height: 50px;
  background-color: var(--color-contrast);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: Roboto;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-wite);
  padding: 15px 16px;
  }
}
  .button-footer {
    cursor: pointer;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 10px 28px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--color-wite);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .send-footer {
    width: 24px;
    height: 24px;
    fill: var(--color-wite);
  }
  
  .button-footer:hover,
  .button-footer:focus {
    background-color: var(--color-text);
  }