.hero-title {
    color: var(--color-wite);
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  
    text-transform: uppercase;
    letter-spacing: 0.06em;
  
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  // title portfolio
  .title-portfolio {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 0px;
    letter-spacing: 0.06em;
    color: var(--color-text);
  }