:root {
    --color-accent: #2196f3;
    --color-text: #212121;
    --color-contact: #757575;
    --color-wite: #ffffff;
    --color-contrast: #2f303a;
    --color-button: #f5f4fa;
    --font-family: 'Roboto';
    --color-border: #ececec;
    --color-li-portfolio: #eeeeee;
    --color-box: rgba(47, 48, 58, 0.4);
    --color-link-footer: rgba(255, 255, 255, 0.6);
    --color-icon: #afb1b8;
    --color-icon-footer: rgba(255, 255, 255, 0.1);
    --color-back-fone: rgba(47, 48, 58, 0.8);
  }
